doctype 5
html
  head
    title #{title} = BUAS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1
        P BUAS
        .sidebar
          p Officers
      footer
        p Live Long and Prosper
